body.boissons{
    background-color: red;
}

body.sucre{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.ready{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.boissons h1 {
    text-align: center;
    color: white;
}

.sectionDrinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.allDrinks {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

.allDrinks a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #000;
    border: 1px solid blue;
    border-radius: 15%;
    background-color: white;
    margin: 20px 0;
}

.allDrinks a img {
    width: 50px;
}

body.ready img {
    margin-top: 100px;
    width: 200px;
}